.login {
  display: grid;
  place-items: center;
  height: 100vh;
  background: black;
}

.login > img {
  width: 100%;
}

.login > a {
  padding: 20px;
  border-radius: 99px;
  background: #1db954;
  font-weight: 800;
  color: white;
  text-decoration: none;
  margin-top: -50px;
}
